<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<h2>Eventos en Vuejs</h2>
				</div>
				<div class="col-xs-4">
						<form v-on:submit.prevent="addName">
						<div class="input-group">
							<input type="text" class="form-control" v-model="name">
							<span class="input-group-btn">
								<input type="submit" class="btn btn-default" value="add">
							</span>
						</div>
						<hr>
						<ul class="list-group">
							<li class="list-group-item" v-for="item in people" v-text="item"></li>
						</ul>
					</form>
				</div>	
				<div class="col-xs-4">
					<button v-on:click="num += 1">
						{{num}}	<span class="oi oi-thumb-up"></span>
					</button>
			
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> 
	<script>
		new Vue({
			el: '#main',
			data: {
				people: ['Neyser', 'Daniel', 'Gómez', 'Vázquez'],
				name:'',
				num: 0,
			},
			methods: {
				addName: function() {
					this.people.push(this.name);
					this.name = '';
				}
			}
		});
	</script>
</body>
</html>	