<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <ul>
            <li v-for="item in people">{{ item }}</li>
        </ul>
        <input type="text" v-model="name" v-on:keyup.enter="addName">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#main',
            data: {
                people: [
                    'Neyser', 'DAniel', 'Gómez', 'Vázquez'      ]
            },
            name: '',
            methods: {
                addName: function() {
                    this.people.push(this.name);
                    this.name = '';
                }
            }
        })
    </script>

</body>
</html>