<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>V-BIND</title>
</head>
<body>
	<div id="main">
		<div class="row">
			<div class="col-sm-4">
				<h1>Lista Vuejss</h1>
				<ul class="list-group">
					<li v-for="item in lists" class="list-group-item">{{ item.name }}</li>
				</ul>

			</div>
			<div class="col-sm-8">
				<h1>Json</h1>
				<pre>
					{{ $data | json}}
				</pre>
			</div>
		</div>
	</div>
    

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script>
		var urlUsers = 'https://jsonplaceholder.typicode.com/users'
		new Vue({
			el: '#main',
			created: function() {
				this.getUsers();
			},
			data: {
				lists: []
			},
			methods: {
				getUsers: function() {
					axios.get(urlUsers).then(response => {
						this.lists = response.data
					});
				}
			}
		});
	</script>
</body>
</html>