<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<template v-if="!message">
                        <h3>Escribe tu sugerencia</h3>
                        <p>El equipo de soporte responde en máximo 24 horas</p>
                        <p><em>Podrías utilizar Twitter para comunicarte</em></p>
                    </template>
                    <h3 v-else>Presiona ENTER para mandar el mensaje</h3>
                    <textarea v-model="message" class="form-control"></textarea>
				</div>
				<div class="col-md-7">
                    <h3>JSON</h3>
					<pre>{{ $data }}</pre>
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> 
	<script>
		new Vue({
			el: '#main',
            data: {
                message: ''
            }
		});
	</script>
</body>
</html>